<div class="title d-flex flex-column align-items-center justify-content-around">
  <span class="pokemon-font-hollow Lightning-color">Pokémon</span>
  <div class=" subtitle mt-5 pokemon-font-hollow Lightning-color">
    <span class="pokemon-font-unown">catch</span>
    <span class="mx-2">TCG</span>
    <span class="pokemon-font-unown">emall</span>
  </div>
</div>
<div class="actions d-flex flex-column align-items-center justify-content-center flex-md-row">
  <button class="my-3 mx-md-3" mat-flat-button color="primary">Deck Builder</button>
  <button [routerLink]="['/cards']" class="my-3 mx-md-3" mat-flat-button color="primary">Cards List</button>
</div>
