img {
  width: 100%;
  height: auto;
}

.poke-header {
  line-height: 3rem;

  span:first-child {
    font-size: 3rem;
  }
}

.data-size {
  font-size: 1.2rem;
}

.energy {
  width: 65px;
}

.attack-size {
  font-size: 2rem;
}
